/* Define colors as CSS variables in :root */
:root {
  /* Greens, lind-grün, oben rechts */
  --pastel-gruen: #d5f4b9;
  --grell-gruen: #8de040;

  /* Blues, unten, zweites von rechts */
  --pastel-blau: #c2cee9;
  --grell-blau: #8ba2d7;

  /* Reds, unten rechts */
  --pastel-rot: #f4e0e1;
  --grell-rot: #ff569c;

  /* Yellows, unten, zweites von links */
  --pastel-gelb: #f4e2b9;
  --grell-gelb: #e5bd5c;

  /* Pinks oben, zweites von links*/
  --pastel-rose: #f4e0e1;
  --grell-rose: #ebbec1;

  /* Turquoise oben links */
  --pastel-tuerkis: #d4ede8;
  --grell-tuerkis: #abdcd3;
/* gruen2 aka "mint", unten links */
--pastel-mint: #c6e7d2;
--grell-mint: #85cb9c;
  /* Neutral Colors */
  --neutral-grau: #e7e6e5;
  --neutral-grau-2: #eaece9;
  --grell-grau: #c4cac1;
}

/* Background classes using the variables */
.pastel-gruen-background {
  background-color: var(--pastel-gruen);
}

.grell-gruen-background {
  background-color: var(--grell-gruen);
}

.pastel-blau-background {
  background-color: var(--pastel-blau);
}

.grell-blau-background {
  background-color: var(--grell-blau);
}

.pastel-rot-background {
  background-color: var(--pastel-rot);
}

.grell-rot-background {
  background-color: var(--grell-rot);
}

.pastel-gelb-background {
  background-color: var(--pastel-gelb);
}

.grell-gelb-background {
  background-color: var(--grell-gelb);
}

.pastel-rose-background {
  background-color: var(--pastel-rose);
}

.grell-rose-background {
  background-color: var(--grell-rose);
}

.pastel-tuerkis-background {
  background-color: var(--pastel-tuerkis);
}

.grell-tuerkis-background {
  background-color: var(--grell-tuerkis);
}

.neutral-grau-background {
  background-color: var(--neutral-grau);
}

.grell-grau-background {
  background-color: var(--grell-grau);
}

/* Source:
https://hochfrequenz.sharepoint.de/:p:/s/Allgemeines/EVJvK5m2e5JGsA3D7D7ikJkBcc6NQsZ2eEAfTwuYuqV8ZA?e=at5VGY
 */
.primaer-background {
  background-color: rgb(122 171 138);
}

.primaer-schatten-background {
  background-color: rgb(102 149 128);
}

.weiss-background {
  background-color: rgb(243 241 246);
}

.stoerer1-background {
  /* Störer farbe 1 */
  background-color: rgb(233 76 116);
}

.stoerer2-background {
  /* Störer farbe 2 */
  background-color: rgb(112 181 44);
}

.rose-background {
  background-color: rgb(204 169 171);
}

.rose-schatten-background {
  background-color: rgb(187 146 142);
}

.gelb-background {
  background-color: rgb(207 185 134);
}

.gelb-schatten-background {
  background-color: rgb(183 157 117);
}

.blau-background {
  background-color: rgb(122 141 161);
}

.blau-schatten-background {
  background-color: rgb(94 122 151);
}

.tuerkis-background {
  background-color: rgb(173 201 196);
}

.tuerkis-schatten-background {
  background-color: rgb(145 169 167);
}

.grau-background {
  background-color: rgb(177 180 177);
}

.grau-schatten-background {
  background-color: rgb(159 160 156);
}

.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
}

.roboto {
  font-family: Roboto, sans-serif;
}

.yanone-kaffeesatz {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

/* Font used for "Unser Marktplatz" */
.dongle {
  font-family: Dongle, sans-serif;
}

.ueberschrift {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.fliesstext {
  font-family: "Roboto Condensed", sans-serif;
}
